body {
  margin: 0;
  background-color: #e0e0e0;
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  width: 100%;
}

#logo {
  height: 60px;
  width: 60px;
}

.socialMedia {
  height: 20px;
  width: 22px;
}

.hotelImage {
  height: 200px;
  width: 250px;
}

.hotelDivs {
  padding: 0;
  display: flex;
  margin: 2%;
  background-color: lightgray;
  width: 40%;  
}

.description{
  padding: 0;
  margin: 2%;
  text-align: left;
}
.description > a{
  color: #000;
  text-decoration:  none;
}

#login {
  box-sizing: border-box;
  color: black;
  float: right;
  height: 100%;
  padding: 18px 10px;
}

#mapView {
  display: none;
    margin-bottom: 0;
    height: 500px;
    width: 100%;
}
#mapView img{
  width: 90%;
}
#listView {
  display: flex; 
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#listView > div:hover{
  background-color: rosybrown;
}

#contentDiv>ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#contentDiv>ul>li {
  margin: 0 2%;
}

#container{
  text-align: center;

}

#container .btn-outline-primary {
  border: none;
  color: black;
}
#container .btn-outline-primary:hover {
  color: black;
  background-color: transparent;
}
#container .btn-outline-primary:focus {
  box-shadow: none;
  color: black;
}
#container .btn-outline-primary:active {
  box-shadow: none;
  color: black;
}
#container .btn-check:checked + .btn-outline-primary {
  box-shadow: none;
  color: black;
  background-color: #0d6efd;
}
#map-view-button:checked ~ #mapView {
  display: flex;
  justify-content: center;
}
#map-view-button:checked ~ #listView {
  display: none;
}

#list-view-button:checked ~ #listView {
  display: flex;
}
#list-view-button:checked ~ #mapView {
  display: none;
}
#container label{
  margin-top: 2%;
}
.btn-check{
  visibility: hidden;
}
.ratingStars{
  color: orange;
}

@media only screen and (min-width:576px) and ( max-width:768px) {
  #listView{
    display: flex;
    flex-direction: column;
  }
  .hotelImage {
    max-width: 180px;
  }
  .hotelDivs {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    width: 80%;
  }
  #mapView img{
    width: 90%;
  }
  #mapView{
    /* display: flex;
    justify-content: center; */
    height: 90%;
  }
}
@media only screen and (max-width:576px){

  #listView{
    display: flex;
    flex-direction: column;
  }
  .hotelImage {
    width: 100%;
  }
  .hotelDivs {
    margin: 10% 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  #mapView{
    height: 90%;
    /* display: flex; */
    /* justify-content: center; */
  }

}