body {
  margin: 0 auto;
  background-color: #e0e0e0;
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100vh;
  width: 100vw;
}

#logo {
  height: 60px;
  width: 60px;
}

.socialMedia {
  height: 20px;
  width: 22px;
}

.detailDiv{
  display: flex;
  margin: 3%;
  border: 1px solid black;
}
#slideShow{
  border-right: 1px solid black ;
  padding: 1%;
}
#slideShow .carousel-item > div >img {
  max-height: 500px;
}

#descriptionDiv {
  margin: 1% 4% 2%;
}

#form{
  display: flex;
  width: 30%;
  padding: 1% 2%;
  flex-direction: column;
  justify-content: space-around;
}
.inputs{
  display: flex;
  justify-content: space-between;
}
.inputs > input{
  width: 60%;
}
#submitButton{
  display: flex;
  justify-content: center;
}
#submitButton input{
  padding: 2%;
  margin-bottom: 0;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
  
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: white;
}
@media only screen and (min-width:576px) and ( max-width:768px) {

  #slideShow .carousel-item > div >img {
    max-height: 380px;
  }
  #form{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .inputs{
    margin: 5px;
  }
  
}
@media only screen and (max-width:576px){
  .detailDiv{
    display: flex;
    flex-direction: column;
  }
  #slideShow{
    border-right: hidden;
    border-bottom: 1px solid black;
  }
  #slideShow .carousel-item > div >img {
       height: 320px;
    min-height: 320px;
  }
  #form{
    width: 100%;
    padding: 10%;
  }
  .inputs{
    margin:5% 0;
  }

}